.formControl.error input,
.formControl.error textarea
{
    border: solid  2px;
    color: #EE4141;
}
.formControl.error span
{
    color: #EE4141;
    border-top: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #EE4141;
}

.error{
    /*padding-bottom: 10px;
    background: #F5F5F5;
    box-sizing: border-box;
    font-family: font-face;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;*/
}
input.login {
    width:328px;
    height:36px;
    background: #FFFFFF;
    border: 1px solid #D6DCE9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

color: #6879BB;
}
input.login:hover {
    width:328px;
    height:36px;
    border: 1px solid #415FD5;
    box-sizing: border-box;
    border-radius: 4px;
}
input.login:active {
    width:328px;
    height:36px;
    background: #FFFFFF;
    border: 1px solid #415FD5;
    box-sizing: border-box;
    border-radius: 4px;
}
